body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.Inicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: white;
}

.Frame2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
}

.Logo {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    height: calc(100vh - 100px);
    justify-content: center;
}

.Rectangle17 {
    width: 218px;
    height: 29px;
    background: #2596be;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Añadido para la separación */
}

.Rectangle17:hover {
    background: #063970;
}

.Entrar {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

.IngresaTuRfc,
.IngresaTusucursal {
    color: #929292;
    font-size: 20px;
    font-weight: 500;
}

.Rectangle18,
.Rectangle182 {
    width: 218px;
    height: 28px;
    background: rgba(217, 217, 217, 0);
    border-radius: 10px;
    border: 1px #2596be solid;
    padding: 5px;
}

/*menu de facturacion*/

.Cliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}

.Frame2M {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
    position: relative;
}

.LogoM {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.Group3 {
    display: flex;
    width: 100%;
    float: left;
    height: 77px;
    background: #f5f5f5;
    margin-top: 10px;
}

.Rectangle4 {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    color: #2596be;
    font-size: 20px;
    font-weight: 600;
}

.nav-item:hover {
    color: #063970;
    cursor: pointer;
}

/*estilos de registro*/

.Clienter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    background: white;
    position: relative;
}

.Frame2M {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
    position: relative;
}

.LogoM {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.Group3M {
    display: flex;
    width: 100%;
    float: left;
    height: 77px;
    background: #f5f5f5;
    margin-top: 10px;
}

.Rectangle4M {
    width: 100%;
}

.navbarM {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-itemM {
    color: #2596be;
    font-size: 20px;
    font-weight: 600;
}

.nav-itemM:hover {
    color: #063970;
    cursor: pointer;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 20px;
}

.form-group label {
    display: block;
    color: #063970;
    font-size: 20px;
    font-weight: 700;
}

.input-field {
    width: 484px;
    height: 37px;
    background: rgba(217, 217, 217, 0);
    border-radius: 10px;
    border: 1px #2596be solid;
    padding: 5px;
}

.Guardar {
    width: 218px;
    height: 29px;
    background: #2596be;
    color: white;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.Guardar:hover {
    background: #063970;
}

/*estilos de registro nuevo*/

.Clienten {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: white;
    position: relative;
}

.Frame2Mn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
    position: relative;
}

.LogoMn {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.form-mainn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-groupn {
    margin: 20px;
}

.form-groupn label {
    display: block;
    color: #063970;
    font-size: 20px;
    font-weight: 700;
}

.input-fieldn {
    width: 484px;
    height: 37px;
    background: rgba(217, 217, 217, 0);
    border-radius: 10px;
    border: 1px #2596be solid;
    padding: 5px;
}

.Guardarn {
    width: 218px;
    height: 29px;
    background: #2596be;
    color: white;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.Guardar:hover {
    background: #063970;
}

/*estilos de facturacion ticket*/

.Clientet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: white;
    position: relative;
}

.Frame2t {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
    position: relative;
}

.Logot {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.Group3t {
    display: flex;
    width: 100%;
    float: left;
    height: 77px;
    background: #f5f5f5;
    margin-top: 10px;
}

.Rectangle4t {
    width: 100%;
}

.navbart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-itemt {
    color: #2596be;
    font-size: 20px;
    font-weight: 600;
}

.nav-itemt:hover {
    color: #063970;
    cursor: pointer;
}

.Iniciot {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: white;
}

.Frame2t {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
}

.Logot {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.form-containert {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    height: calc(30vh - 100px);
    justify-content: center;
}

.Rectangle17t {
    width: 218px;
    height: 29px;
    background: #2596be;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Añadido para la separación */
}

.Ingresar {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}

.IngresaTuTikect {
    color: #929292;
    font-size: 20px;
    font-weight: 500;
}

/*estilos de facturacion download*/

.Cliented {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30vh;
    background: white;
    position: relative;
}

.Frame2d {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: #2596be;
    position: relative;
}

.Logod {
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-left: 23px;
}

.Group3d {
    display: flex;
    width: 100%;
    float: left;
    height: 77px;
    background: #f5f5f5;
}

.Rectangle4d {
    width: 100%;
}

.navbard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-itemd {
    color: #2596be;
    font-size: 20px;
    font-weight: 600;
}

.nav-itemd:hover {
    color: #063970;
    cursor: pointer;
}

.main {
    display: flex;
    width: 100%;
    justify-content: end;
}

.buscad {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 90px;
}

.Iniciod,
.Find {
    color: #929292;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 10px;
    float: left;
}

.date-input {
    width: 231px;
    height: 27px;
    border-radius: 10px;
    border: 1px #2596be solid;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 20px;
}

.Buscard {
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: #2596be;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin-top: 10px;
}

.Group8 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    border: 1px solid #9198a7;
    text-align: left;
}

th {
    background-color: #f5f5f5;
    color: #063970;
    font-size: 18px;
    font-weight: 600;
}

td {
    font-size: 20px;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #ffffff;
}

.Descargard {
    color: rgb(0, 0, 0);
    font-size: 18px;
    background: none;
    font-weight: 700;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
}

.Descargard:hover {
    color: #063970;
}
